:root {
  --textarea-height: 82px;
  --bg-color: #e8f9fd;
  --color: #a1a1a1;
}

.textarea {
  max-height: var(--textarea-height);
  width: var(--input-width);
  max-width: var(--input-width);
  background-color: var(--bg-color);
  outline: none;
  border: none;
  border-radius: 10px;
  resize: none;
  padding-left: 5px;
  font-size: 16px;
  color: var(--color);
}
